In [1]:
# Commençons notre projet par importer les librairies dont on a besoin

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Chargement du fichier csv

In [168]:
df=pd.read_csv('Uncleaned_DS_Jobs.csv')
pd.set_option('display.max_columns',None)

df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [6]:
# Analyse exploratoire des données: Prétraitement initial- 1) Vérification de l'intégrité des données

In [169]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [170]:
# 2) Identification des valeurs manquantes ou aberrantes

In [171]:
df.isna().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [172]:
# Nettoyage des données

""" Nous allons maintenant vérifier les 5 premières colonnes à l'aide de la colonne d'en-tête pour voir quels 
sont les problèmes immédiats."""

" Nous allons maintenant vérifier les 5 premières colonnes à l'aide de la colonne d'en-tête pour voir quels \nsont les problèmes immédiats."

In [173]:
df.head(6)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1

In [174]:
""" Nous voyons certains éléments qui pourraient nécessiter un nettoyage dès le départ,comme la suppression de la colonne d'index"""

" Nous voyons certains éléments qui pourraient nécessiter un nettoyage dès le départ,\n comme la suppression de la colonne d'index"

In [175]:
df.drop(columns='index', axis=1, inplace=True)

In [176]:
# Verification pour voir si la colonne 'index' a bien été supprimer 
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [177]:
# Suppression de '\n' et des nombres dans la colonne 'Company Name'

In [178]:
df['Company Name'] = df['Company Name'].str.replace('\n.*', '')

/var/folders/32/h0g1fdmx0yd9zwy4hlttlrd80000gn/T/ipykernel_4273/2830926025.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Company Name'] = df['Company Name'].str.replace('\n.*', '')

In [179]:
# Verification pour voir si la suppression de '\n' et des nombres dans la colonne 'Company Name' a bie été faite
df['Company Name'].unique()

array(['Healthfirst', 'ManTech', 'Analysis Group', 'INFICON',
       'Affinity Solutions', 'HG Insights', 'Novartis', 'iRobot',
       'Intuit - Data', 'XSELL Technologies', 'Novetta', '1904labs',
       'PNNL', 'Old World Industries', 'Mathematica Policy Research',
       'Guzman & Griffin Technologies (GGTI)', 'Upside Business Travel',
       'Buckman', 'Insight Enterprises, Inc.', 'Tower Health',
       'Triplebyte', 'PulsePoint', 'Exponent', 'Guardian Life',
       'Spectrum Communications and Consulting', 'Oversight Systems',
       'LSQ', 'MIT Lincoln Laboratory', 'Kingfisher Systems', 'Formation',
       'Cohere Health', 'Acuity Insurance', 'Chef', 'Puget Sound Energy',
       'Sandhills Global', 'A Place for Mom', 'Great-Circle Technologies',
       'Edmunds.com', 'Cambridge Associates, LLC',
       'Liberty Mutual Insurance', 'Cenlar', 'Arsenal Biosciences',
       'Eversight', 'Pfizer', 'Klaviyo', 'Intellectual Ventures',
       'GovTech', 'Quick Base', 'Giving Assistant', 'Takeda', 'Netskope',
       'IT Concepts', 'iSeatz', 'Summa Health System', 'Benson Hill',
       'Twitter', 'Postmates - Corporate HQ', 'Envision LLC', 'Swiss Re',
       'Systems & Technology Research', 'Dermalogica',
       'Bayview Asset Management', 'Via Transportation', 'Grid Dynamics',
       'Tempus Labs', 'CareDx', 'IZEA', 'Autodesk', 'Caterpillar',
       'New England Biolabs', 'Allied Solutions', 'The Knot Worldwide',
       'IFG Companies', 'Amyris', 'AstraZeneca', 'Powertek',
       'Object Partners', 'The Mom Project', 'Lightspeed Systems',
       'Stripe', 'Comprehensive Healthcare',
       'Fullpower Technologies, Inc.', 'Mars', 'NuWave Solutions',
       'Merrick Bank', 'QOMPLX', 'GutCheck',
       'Inter-American Development Bank', 'Avlino', 'Stratagem Group',
       'Evidation', 'Tecolote Research', 'Tivity Health', 'hc1',
       'HP Inc.', 'SAIC', 'AllianceBernstein', 'Big Huge Games',
       'Maxar Technologies', 'Phantom AI', 'Noblis', 'Spring Health',
       'ClearEdge', 'GetWellNetwork', 'TACG Solutions', 'Scoop',
       'Montway Inc', 'Juniper Networks', 'Notion Labs', 'Lendio',
       'Direct Agents', 'NAVEX Global', 'Upstart', 'AppLovin',
       'ISO New England', 'Relativity', 'Tempo Automation', 'MITRE',
       'Expedition Technology, Inc.', 'Evidera',
       'Plymouth Rock Assurance', 'Crown Bioscience', 'GNS Healthcare',
       'OneMagnify', 'SPECTRUM', 'Advanced BioScience Laboratories',
       'Procore Technologies', 'Ritedose', 'Covid-19 Search Partners',
       'bioMérieux', 'Radical Convergence', 'Leidos', 'Demandbase',
       'Shelter Insurance', 'USAC',
       'General Dynamics Information Technology', 'Offerpad',
       'Magna International Inc.', 'United BioSource', 'Kelly', 'C3.ai',
       'Quartet Health', 'Midland Credit Management',
       'Resurgent Capital Services', 'webfx.com', 'Argo Group US',
       'BWX Technologies', 'Life360', 'MassMutual', 'Natera', 'Genentech',
       'Ntrepid', 'Constant Contact', 'Sage Intacct', 'Shape Security',
       'SkillSoniq', 'Joby Aviation',
       "Cook Children's Health Care System", 'Rubius Therapeutics',
       'GreatAmerica Financial Services', 'Coverent', 'Mteq',
       'Rocket Lawyer', 'Alion Science & Technology', 'Protolabs',
       'Quest Integrity', 'Phoenix Operations Group', 'Dice.com',
       'Southwest Research Institute', 'The Buffalo Group',
       'Central California Alliance for Health',
       'Security Finance Corporation of Spartanburg', 'Opendoor',
       'Global Data Management Inc', 'Photon Infotech', 'REE',
       'Riverside Research Institute', 'T. Rowe Price', 'Encode, Inc.',
       'Brighthouse Financial', 'II-VI Incorporated', 'Surya Systems',
       'PayPal', 'Predictive Research Inc', '1010data', 'Gigya',
       'Genesis Research', 'Sanofi', 'XPO Logistics', 'Trace Data',
       'Descript', 'Rincon Research Corporation', 'Better Hire',
       'Parker Hannifin', 'Gallup', 'Insider Inc',
       'Rapid Value Solutions', 'Battelle', 'The Drive Media, Inc.',
       'Pacific Northwest National Laboratory', 'US Pharmacopeia',
       'Itlize Global', 'eBay', 'Paige', 'ABIOMED', 'Comcast',
       'Metronome, LLC', 'Lawrence Livermore National Lab',
       'FHLBank Pittsburgh', 'Jacobs', 'Underwriters Laboratories',
       'Altus Group', 'Jobot', 'Trovetechs Inc', 'Oshkosh Corporation',
       'Mackin', 'PETADATA', 'VBeyond Corporation', 'Take-Two',
       'Colony Brands', 'Capio Group', 'SleePare', 'ShorePoint',
       'Dolphin', 'TE Connectivity', 'State of Virginia', 'TA Digital',
       'Market America Inc', 'TrueAccord', 'ALTA IT Services',
       'Kollasoft Inc.', 'ASRC Federal Holding Company',
       'Adwait Algorithm', 'Cambridge FX', 'Metromile', 'Criteo',
       'Advance Sourcing Concepts', 'Enterprise Solutions Inc',
       'Microagility', 'Conch Technologies, Inc', 'GSK',
       'Rainmaker Resources, LLC', '22nd Century Technologies', 'Huxley',
       'FM Systems', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina', 'Jane Street',
       'SSATI', 'Solving IT International Inc',
       'The Davey Tree Expert Company', 'Centauri', 'Stride Search',
       'Software Engineering Institute', 'TechProjects', '7Park Data',
       'Ameritas Life Insurance Corp', 'Western Digital',
       'Shimento, Inc.', 'Averity', 'Praxis Engineering',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory',
       'Cambridge Mobile Telematics', 'Blend360', 'Nolij Consulting',
       'Hatch Data Inc', 'Compass Consulting Group', 'SolutionIT, Inc.',
       'Perspecta', 'Smith Hanley Associates', 'Allen Institute',
       'Eliassen Group', 'Bayside Solutions', 'Evolve Vacation Rental',
       'AgreeYa Solutions', 'Carolina Power & Light Co',
       'New Iron Group, Inc.', 'Travelers', 'Twitch', 'Biogen', 'HireAi',
       'Mentor Graphics', 'WCG (WIRB-Copernicus Group)',
       'Visionary Integration Professionals', 'Dynetics',
       'Navy Federal Credit Union', 'Exact Sciences Corporation',
       'Community Behavioral Health', 'Reynolds American', 'LifeOmic',
       'Visionist, Inc.', 'Navio', 'Concerto HealthAI', 'Evolvinc',
       'PROPRIUS', 'TECHNOCRAFT Solutions', 'Latitude, Inc.',
       'Royce Geospatial', 'CyberCoders', 'Booz Allen Hamilton Inc.',
       'Burns & McDonnell', 'InvenTech Info', 'Robert Half',
       'Conflux Systems Inc.', 'Voice', 'Falcon IT & Staffing Solutions',
       'DataLab USA', 'Werner Enterprises Inc', 'PeopleCom',
       'VANTA Partners', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.", 'Sonde Health', 'Maxiom',
       'Change Healthcare', 'DCS Corp', 'Hive (CA)',
       'Hackensack Meridian Health', 'Net2Source Inc.', 'The Trade Desk',
       'IBM', 'Knowesis Inc.', 'MoTek Technologies', 'HPOne',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day', 'ThreeBridge Solutions',
       'Numeric, LLC', 'Centraprise', 'DW Simpson', 'LinQuest',
       'Trexquant Investment', 'Fleetcor', 'Radiant Digital',
       'Child Care Aware of America', 'IntelliPro Group Inc.', 'USI',
       'Apex Systems', 'Pragmatics, Inc.', 'Crossover Health',
       'Lorven Technologies Inc', 'Gap Inc.', 'Tygart Technology, Inc',
       'Murray Resources', 'New York Technology Partners',
       'Two95 International Inc.', 'Sophinea', 'CRS Group',
       'Blackstone Talent Group', 'Roche', 'Creative Circle',
       'Blue Horizon Tek Solutions', 'Sharpedge Solutions Inc',
       'Alaka`ina Foundation Family of Companies', 'Hexagon US Federal',
       'Monte Rosa Therapeutics', 'Comtech Global Inc', 'Aveshka, Inc.',
       '10x Genomics', 'CompuForce', '1-800-Flowers', 'Aptive',
       'JCD Staffing', 'Thumbtack', 'MILVETS Systems Technology, Inc.',
       'Apple', 'Kforce', 'OppLoans', 'Brillient', 'Xator Corporation',
       'HAN IT Staffing Inc.', 'Infinitive Inc', 'New Relic', 'ICW Group',
       'NYSTEC', 'E3 Federal Solutions', 'Peraton', 'Group O',
       'CaptiveAire', 'Temboo', 'Kibo', 'AeroVironment',
       'Applied Research Laboratories', 'Conagen', 'Alector',
       'Homology Medicines, Inc.', 'Inland Empire Health Plan',
       'Sandia National Laboratories', 'CIA', 'Maven Wave Partners',
       'Ovative Group', 'Kognetics', 'Envision Healthcare',
       'ConsumerTrack', 'Meridian Knowledge Solutions', 'UST Global',
       'IMG Systems', 'Trident Systems Inc', 'GrainBridge, LLC',
       'First Health Group', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company', 'Axiologic Solutions',
       'Indigo Slate', 'Cubic', 'Advanced Bio-Logic Solutions Corp',
       'Alignment Healthcare', 'WGSN', 'ISYS Technologies, Inc.',
       'TransVoyant', 'Geotab', 'EGlobalTech',
       'Central Business Solutions, Inc', 'KeHE Distributors',
       'Moxie Software', 'Unicom Technologies INC', 'Americo Life',
       'Tokio Marine HCC', 'CACI International', 'Berico Technologies',
       'Kehe Food Distributors', 'Pactera Edge', 'Qurate Retail Group',
       'A-Line Staffing Solutions', 'Clear Ridge Defense',
       'Criterion Systems, Inc.', 'Foundation Medicine', 'TRANZACT',
       'JKGT', 'AccessHope', 'ChaTeck Incorporated'], dtype=object)

In [ ]:
# Transformation de la colonne 'Salary Estimate' nombre en entier

In [180]:
df['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

In [181]:
df['Salary Estimate'] = df['Salary Estimate'].str.split('(').str[0]
df['Salary Estimate'] = df['Salary Estimate'].str.replace('K', '').str.replace('$', '')

/var/folders/32/h0g1fdmx0yd9zwy4hlttlrd80000gn/T/ipykernel_4273/3300575602.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary Estimate'] = df['Salary Estimate'].str.replace('K', '').str.replace('$', '')

In [182]:
# Verification pour voir si les modification ont été effectués
df['Salary Estimate'].unique()

array(['137-171 ', '75-131 ', '79-131 ', '99-132 ', '90-109 ', '101-165 ',
       '56-97 ', '79-106 ', '71-123 ', '90-124 ', '91-150 ', '141-225 ',
       '145-225', '79-147 ', '122-146 ', '112-116 ', '110-163 ',
       '124-198 ', '79-133 ', '69-116 ', '31-56 ', '95-119 ', '212-331 ',
       '66-112 ', '128-201 ', '138-158 ', '80-132 ', '87-141 ', '92-155 ',
       '105-167 '], dtype=object)

In [184]:
#Nous devons maintenant étudier l'abondance de -1 dans la colonne 'Competitors'. 
#Quel est le pourcentage de la colonne entière et combien y en a-t-il ?

df.loc[df["Competitors"] == "-1","Competitors"].value_counts()

-1    501
Name: Competitors, dtype: int64

In [185]:
#Vérification du pourcentage de la valeur -1 dans la colonne 'Competitors'

round((501/672 * 100),2)

74.55

In [186]:
#il y a 501 occurrences de -1 dans la colonne, ce qui représente 75 % de la colonne ; 
#il est donc préférable de supprimer la colonne puisqu'elle est principalement composée de zéros.

df.drop(columns="Competitors",inplace=True)

In [187]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [188]:
#Vérification colonne par colonne pour voir si certains éléments doivent être nettoyé. Les 100 premières lignes devraient être bonnes pour un contrôle.

df["Job Title"][:100]

0                                  Sr Data Scientist
1                                     Data Scientist
2                                     Data Scientist
3                                     Data Scientist
4                                     Data Scientist
                           ...
95                  Staff Data Scientist - Analytics
96                           Data Analytics Engineer
97            Data Scientist, Kinship - NYC/Portland
98                             Senior Data Scientist
99    Applied Technology Researcher / Data Scientist
Name: Job Title, Length: 100, dtype: object

In [189]:
""" Après vérification, la colonne 'Job Title' & ' Job Description' présentent des éléments tel que: (), /,\n,et des nombres aleatoires
qui doivent être supprimer, sur certaines lignes, localisons-les  """

df.loc[df["Job Title"].str.contains('\([^()]+\)','\n.*'), ["Job Title",'Job Description']]

,Job Title,Job Description
70,Data Engineer (Remote),IZEA was built to connect the world’s top bran...
79,Data Scientist 3 (718),Amyris has developed a high-throughput genetic...
93,(Sr.) Data Scientist -,"Thursday, June 11, 2020\n\nMerrick Bank is a t..."
106,Sr Data Engineer (Sr BI Developer),Description/Responsibilities\n\n\nResponsible ...
112,Data Scientist (TS/SCI),Are you an intelligence analyst looking to fur...
145,Research Scientist Patient Preferences (Remote),*We would ideally like this position to be bas...
154,ELISA RESEARCH SCIENTIST (CV-15),"Covaxx, a subsidiary of the UBI Group, has joi..."
180,Research Scientist - Patient-Centered Research...,*This position can be in either of our Evidera...
181,Jr. Business Data Analyst (position added 6/12...,April 2020 Update from WebFX: We're still acti...
218,Data Modeler (Analytical Systems),"At MassMutual, were passionate about helping m..."
231,Research Scientist - Patient-Centered Research...,*This position can be in either of our Evidera...
244,Real World Evidence (RWE) Scientist,Genesis Research is an international healthcar...
381,Data Modeler (Analytical Systems),"At MassMutual, were passionate about helping m..."
383,"Data Engineer (Analytics, SQL, Python, AWS)","Company Information\n\nSolid reputation, passi..."
391,"Software Engineer (Data Scientist, C,C++,Linux...","During the current global health crisis, the p..."
397,Data Scientist (TS/SCI w/ Poly),Are you excited by the possibilities presented...
401,Cloud Data Engineer (Azure),YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...
404,Senior Scientist - Toxicologist - Product Inte...,British American Tobacco\nReynolds American In...
508,Senior Principal Data Scientist (Python/R),Roche Diagnostics has built a new strategic ar...
511,Data Scientist(s)/Machine Learning Engineer,Company: AI/Data Science\nLocation: New York C...
544,Data Modeler (Analytical Systems),"At MassMutual, were passionate about helping m..."
548,"Data Engineer (Analytics, SQL, Python, AWS)","Company Information\n\nSolid reputation, passi..."
549,Data Scientist 3 (718),Amyris has developed a high-throughput genetic...
553,Software Engineer - Machine Learning & Data Sc...,Please note that visa sponsorship is not avail...
573,Data Scientist (TS/SCI w/ Poly),Are you excited by the possibilities presented...
577,Information Systems Engineering Specialist (En...,Job Posting Title:\n\nInformation Systems Engi...
578,Cloud Data Engineer (Azure),YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...
581,Enterprise Data Analyst (Enterprise Portfolio ...,YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...
582,Senior Scientist - Toxicologist - Product Inte...,British American Tobacco\nReynolds American In...
589,Hydrogen/Tritium Materials Scientist (Experien...,:\n\nWe need a R&D Materials Scientist to lead...
611,(Sr.) Data Scientist -,"Thursday, June 11, 2020\n\nMerrick Bank is a t..."
640,Data Scientist(s)/Machine Learning Engineer,Company: AI/Data Science\nLocation: New York C...

In [191]:
df['Job Description'] = df['Job Description'].str.replace('\n.*', '')

/var/folders/32/h0g1fdmx0yd9zwy4hlttlrd80000gn/T/ipykernel_4273/1967902575.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Job Description'] = df['Job Description'].str.replace('\n.*', '')

In [193]:
df['Job Title'] = df['Job Title'].str.replace('\n.*','')

/var/folders/32/h0g1fdmx0yd9zwy4hlttlrd80000gn/T/ipykernel_4273/2253883097.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Job Title'] = df['Job Title'].str.replace('\n.*','')

In [195]:
""" On remarque également la présence de parenthèses avec la mention Sr à l'intérieur, ou encore des infos qui peuvent être pertinentes"""

# remplaçons d'abord (Sr.) par Sr

df["Job Title"]= df.loc[:,"Job Title"].str.replace("(Sr.)","Sr.")

/var/folders/32/h0g1fdmx0yd9zwy4hlttlrd80000gn/T/ipykernel_4273/1998651901.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Job Title"]= df.loc[:,"Job Title"].str.replace("(Sr.)","Sr.")

In [196]:
# Supprimons le reste des instances entre parenthèses

df["Job Title"]=df.loc[:,"Job Title"].str.extract('([^()]+)')

In [197]:
# Vérification pour voir si tout a été supprimer
df.loc[df["Job Title"].str.contains('\([^()]+\)'), ["Job Title","Job Description"]]

Empty DataFrame
Columns: [Job Title, Job Description]
Index: []

In [129]:
# Transformation de données

In [198]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr.Data Scientist,137-171,Description,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,137-171,Overview,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,137-171,JOB DESCRIPTION:,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,137-171,Data Scientist,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105-167,Summary,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
668,Data Scientist,105-167,Job Description,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,105-167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD)
671,Data Scientist,105-167,Description,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [211]:
""" On remarque que les colonnes 'Location' & 'Headquarters' se ressemblent fortement, l'objectif ? Séparer la ville de l'État, de façon distinct """

" On remarque que les colonnes 'Location' & 'Headquarters' se ressemblent fortement, l'objectif ? Séparer la ville de l'État, de façon distinct "

In [ ]:
df[['HQ_city','HQ_state']]=df['Headquarters'].str.split(',',expand=True)
df['Job_city'] = df.Location.str.split(',', expand = True)[0]
df['Job_state'] = df.Location.str.split(',', expand = True)[1]
df.drop(['Headquarters','Location'], axis=1, inplace=True)